body {
    background-color: #0F0F0F;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    
}

.container {
    width: 30%;
}

#titulo {
    text-align: center;
    margin-top: 50px;
    color: #0BB6BF;
    word-spacing: 8px;
    letter-spacing: 2px;
    font-style: oblique;
}

form {
    display: flex;
}

input {
    outline: none;
    width: 350px;
    padding : 5px 0px;
}

.btn-add {
    padding : 7px 10px;
    background-color: #0BB6BF;
    color: white;
    border-style: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    outline: none;
}
.btn-add:hover {
    background-color: white;
    color: black;
}

.btn-add:active {
    box-shadow: 2px 2px gray;
    transform: translateY(1px);
    transform: translateX(1px);
}

.list {
    width: 90%;
    align-items: center;
}

li {
    list-style: none;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
}

li p {
    margin: 0;
    padding: 10px;
    width: 100%;
    color: #353835;
    font-family: "Monaco", monospace;
}

.btn-delete {
    padding: 0px 10px;
    border-style: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #EF1717;
    color: white;
}

.btn-delete:hover {
    color: black;
}

.btn-delete:active {
    box-shadow: 1px 1px white;
    transform: translateY(1px);
    transform: translateX(1px);
}

.empty {
    color: #B4B7BA;
    text-align: center;
    font-size: 13px;
}